#Copyright (c) 2019, NVIDIA CORPORATION. All rights reserved.
#
#NVIDIA CORPORATION and its licensors retain all intellectual property
#and proprietary rights in and to this software, related documentation
#and any modifications thereto. Any use, reproduction, disclosure or
#distribution of this software and related documentation without an express
#license agreement from NVIDIA CORPORATION is strictly prohibited.

build --keep_going --color=yes -c opt --crosstool_top=@toolchain//crosstool:toolchain

build --define=target_platform=x86_64 --strip=always
build --action_env=target_platform="x86_64"
build:x86_64 --define=target_platform=x86_64 --strip=always
build:x86_64 --action_env=target_platform="x86_64"

build:jetpack42 --cpu=arm64-v8a --strip=always
build:jetpack42 --define=target_platform=jetpack42
build:jetpack42 --action_env=target_platform="jetpack42"

test --test_output=errors --keep_going --color=yes -c opt
test --test_tag_filters=-lint

build --python_top=@com_nvidia_isaac//engine/build:python3
test --python_top=@com_nvidia_isaac//engine/build:python3
run --python_top=@com_nvidia_isaac//engine/build:python3

test:lint --build_tests_only
test:lint --test_tag_filters=lint
test:lint --python_top=@com_nvidia_isaac//engine/build:python27
